body {
    margin: 0;
    font-family: HelveticaNow, Helvetica, sans-serif;
}

.z-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.z-button-1 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #1a1a1a;
    padding: 8px 14px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 18px;
    overflow: hidden;
    background-color: transparent;
    border: 2px solid #1a1a1a;
}

.z-button-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    width: 0;
    background-color: #1a1a1a;
    transition: width .25s ease-in-out;
    z-index: 0;
}

.z-button-1 > span{
    color: #1a1a1a;
    transition: color .3s ease 0s;
    z-index: 1;
}

.z-button-1:hover > span{
    color: #ffffff;
}

.z-button-1:hover::before {
    width: 100%;
}

/* HEADER */

#header_uspBar {
    display: none;
    font-size: 12px;
    line-height: 16px;
    background-color: #efeff0;
}

#header_uspBar > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    height: 32px;
}

#header_uspBar > div > a{
    text-decoration: none;
    color: #66676e;
}

#navbar_container {
    width: auto;
}

#navbar_topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

#navbar_topRow > div:first-child {
    display: none;
    flex-basis: 50%;
}

#logo_image {
    width: 50vw;
    max-width: 300px;
}

.navTools {
    display: flex;
    justify-content: end;
    flex-basis: 50%;
}

.navTools > div {
    position: relative;
    margin-left: 2vmin;
}

.navTools-dropDown {
    border: 2px solid transparent;
    background-color: transparent;
    box-sizing: border-box;
}

.navTools > div > a {
    position: relative;
    text-decoration: none;
    color: #1a1a1a;
    display: flex;
    align-items: center;
    padding: 10px;
}

.navTools > div > a > img {
    height: 20px;
    width: 20px;
}

#navbar_userAccount_container, #navbar_userCart_container {
    display: none;
    position: absolute;
    top: calc(100% - 2px);
    right: -2px;
    width: 300px;
    padding: 0;
    margin-left: -110px;
    background-color: #ffffff;
    border: 2px solid #1a1a1a;
    box-sizing: border-box;
    z-index: 2;
}

#navbar_userAccount_container > ul{
    list-style: none;
    margin: 0 26px;
    padding: 2px 0 0;
}

#navbar_userAccount_container > ul > li{
    margin: 16px 0;
    letter-spacing: -.16px;
}

#navbar_userAccount_container > ul > li > a{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
}

#navbar_userAccount_container > ul > li > a:hover{
    font-weight: 500;
}

#navbar_userAccountLogOut {
    padding: 12px 26px;
    border-top: 1px solid #d0d1d3;
}

#navbar_userAccountLogOut > a{
    text-decoration: none;
    color: #1a1a1a;
    font-size: .875rem;
    letter-spacing: 0;
    line-height: 1.25rem;
    font-weight: 300;
}

#navbar_userCart_container > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}

#navbar_userCart_container > div > span{
    text-transform: uppercase;
    color: #1a1a1a;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

#navbar_userCart_container > div > p{
    color: #1a1a1a;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .5px;
    font-weight: 400;
    padding: 0 24px;
}

#navbar_userCart_container > div:nth-child(2){
    background-color: #eeeeee;
    padding: 20px;
}

.navToolCounter {
    position: absolute;
    top: 0;
    right: 0;
    height: 16px;
    min-height: 16px;
    font-weight: 400;
    padding: 1px 4px;
    color: #ffffff;
    background-color: #00da86;
    border-radius: 50px;
    z-index: 1;
}

#navbar_bottomRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #d0d1d3;
    border-right: none;
    border-left: none;
    height: 49px;
}

#navbar_button {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    border-right: 1px solid #d0d1d3;
    position: relative;
    height: 100%;
}

#navbar_button > img {
    height: 24px;
    width: 20px;
}

#navbar_category_container {
    display: none;
    will-change: opacity;
    height: 36px;
}

#navbar_category_container > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-categoryLink {
    display: inline-flex;
    cursor: pointer;
    flex-direction: column;
    letter-spacing: 1px;
    padding: 10px 8px;
}

.navbar-categoryLink > a{
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 400;
}


.navbar-categoryLink > a[type="sales"]{
    color: #00da86;
}

#navbar_search_container {
    position: relative;
    height: 100%;
    width: 100%;
}

#navbar_search_container form {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    height: 100%;
}

#navbar_search_container form > button {
    position: absolute;
    margin: 0;
    right: 10px;
}

#navbar_search_container form > button > img {
    height: 20px;
    width: 20px;
}

#navbar_search_container form > div {
    height: 100%;
    width: calc(100% - 50px);
}

#navbar_search_container form > div > input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    background-color: transparent;
    color: #1a1a1a;
    border: 0;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    font-size: 16px;
    outline: none;
}

#navbar_sidePanel_container {
    width: 100%;
    max-width: 100%;
    background-color: #f0f0f0;
    padding: 0;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(-100%, 0, 0);
    transition: transform 195ms cubic-bezier(.4, 0, 1, 1);
}

#navbar_sidePanelHead {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 1px solid #d0d1d3;
}

#navbar_sidePanelHead > span {
    font-weight: 700;
}

#navbar_sidePanelHead > span {
    padding: 8px;
}

#navbar_sidePanelHead > button > img {
    height: 20px;
    width: 20px;
}

#navbar_sidePanelCategoryMenu nav {
    background-color: #ffffff;
    border-bottom: 2px solid #d0d1d3;
    margin-bottom: 16px;
}

#navbar_sidePanelCategoryMenu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar_sidePanelCategoryMenu_element {
    flex-basis: 50%;
    width: 50%;
    box-sizing: border-box;
}

.navbar_sidePanelCategoryMenu_element:nth-child(odd) {
    padding-right: 2px;
}
.navbar_sidePanelCategoryMenu_element:nth-child(even) {
    padding-left: 2px;
}

.navbar_sidePanelCategoryMenu_element > a {
    text-decoration: none;
}

.navbar_sidePanelCategoryMenu_linkImage {
    height: 100px;
}

.navbar_sidePanelCategoryMenu_linkImage > div {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #efeff0;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.navbar_sidePanelCategoryMenu_linkText {
    padding: 4px 4px 16px 14px;
}

.navbar_sidePanelCategoryMenu_linkText > span {
    font-size: 1rem;
    letter-spacing: -0.16px;
    line-height: 1.5rem;
    font-weight: 700;
    color: #1a1a1a;
}

.navbar_sidePanelCategoryMenu_linkText > span[type="sales"] {
    color: #00da86;
}

.navbar_sidePanelCategoryContainer {
    background-color: #ffffff;
    border-bottom: 2px solid #d0d1d3;
    margin-bottom: 16px;
}

.navbar_sidePanelCategoryContainer > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar_sidePanelCategoryContainer > ul > li{
    border-bottom: 1px solid #d0d1d3;
}

.navbar_sidePanelCategoryContainer > ul > li > a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 18px 26px;
    color: #1a1a1a;
}

.navbar_categoryOverlayConatainer {
    position: absolute;
    top: 157.5px;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 488px;
    max-height: 0;
    overflow: hidden;
    background: #ffffff;
    transition: max-height .3s ease-in-out, border-bottom .3s ease-in-out;
    transition-delay: .1s;
    transform: translateZ(0);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.navbar_categoryOverlayConatainer.navbar_categoryOverlayConatainer-open {
    max-height: 488px;
    border-bottom: 2px solid #1a1a1a;
}

#navbar_subCategoryContainer {
    display: block;
    position: absolute;
    padding: 0;
    will-change: true;
    width: 100%;
    background-color: #ffffff;
}

#navbar_subCategoryContainer > div {
    position: relative;
    height: 488px;
    padding-top: 22px;
    padding-bottom: 23px;
    margin-left: 24px;
    margin-right: 24px;
    box-sizing: border-box;
}

#navbar_subCategoryContainer > div > div {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
}

#navbar_subCategoryContainer > div > div > div:first-child {
    flex-basis: 75%;
    max-width: 75%;
    padding-left: 8px;
}

#navbar_subMenu_container {
    padding: 10px 8px;
    margin-left: -8px;
    width: calc(100% + 16px);
}

.navbar-subMenu {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px 20px;
    padding: 6px;
    list-style: none;
}

.navbar-subMenu > li {
    margin-bottom: 16px;
}

.navbar-subMenu > li a{
    text-decoration: none;
    font-size: 1rem;
    color: #1a1a1a;
}

#navbar_subCategoryContainer > div > div > div:nth-child(2) {
    flex-basis: 25%;
    max-width: 25%;
    padding-left: 8px;
    padding-right: 8px;
}

#navbar_subMenuImage_container {
    background-color: #00da86;
    padding-left: 20px;
}

#navbar_subMenuImage_container > a{
    display: block;
    height: 300px;
}

#navbar_subMenuImage_container > a > div {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: #efeff0;
}

#navbar_subMenuImage_container > div {
    padding-top: 16px;
    padding-bottom: 16px;
    height: auto;
}

#navbar_subMenuImage_container > div > a {
    text-decoration: none;
    background-color: transparent;
}

#navbar_subMenuImage_container > div > a > span{
    display: flex;
    width: fit-content;
    color: #1a1a1a;
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.25rem;
    font-weight: 700;
}

#navbar_subMenuImage_container > div > a > span > img{
    margin-left: 8px;
}

.navbar-link {
    position: relative;
}

.navbar-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    display: block;
    transition: border .15s ease-in-out;
    width: 100%;
    border-bottom: 2px solid transparent;
}

.navbar-link:hover::after{
    border-bottom-color: inherit;
}

@media screen and (min-width: 768px) {
    
}

@media screen and (max-width: 1023px) {
    #navbar_topRow {
        padding-left: 17px;
    }
}

@media screen and (min-width: 1024px) {
    #header_uspBar {
        display: block;
    }

    #navbar_container {
        margin-left: 24px;
        margin-right: 24px;
    }

    #navbar_topRow {
        padding-top: 15px;
    }

    #navbar_topRow > div:first-child {
        display: block;
    }

    #logo_image {
        width: 300px;
    }

    .navTools-dropDown:hover {
        border-color: #1a1a1a;
        border-bottom-color: transparent;
    }

    .navTools-dropDown:hover > #navbar_userAccount_container, .navTools-dropDown:hover > #navbar_userCart_container {
        display: block;
    }

    .navTools-dropDown:hover > a::after {
        content: "";
        display: block;
        position: absolute;
        top: calc(100% - 2px);
        left: 0;
        padding: 0;
        margin: 0;
        height: 2px;
        width: 100%;
        background-color: #ffffff;
        border-color: #ffffff;
        pointer-events: none;
        z-index: 3;
    }

    #navbar_bottomRow {
        border: none;
        justify-content: space-between;
        height: auto;
    }

    #navbar_button {
        display: none;
    }

    #navbar_category_container {
        display: block;
    }

    #navbar_category_container > ul{
        display: block;
        white-space: nowrap;
    }

    #navbar_search_container {
        display: flex;
        right: 0;
        flex: 1 1 25%;
        max-width: calc(25% + 20px);
        height: auto;
        top: 0;
        margin-right: -32px;
    }

    #navbar_search_container > form{
        transition: width .25s ease;
        display: flex;
        height: 36px;
        background-color: #efeff0;
    }

    #navbar_search_container > form > button{
        display: inline;
        top: 8px;
        left: 12px;
        right: auto;
        font-size: 18px;
    }

    #navbar_search{
        padding: 6px 0;
        margin-left: 42px;
    }

    .navbar_categoryOverlayContainer_border {
        border-bottom: 1px solid #d0d1d3;
    }

    #navbar_subCategoryContainer > div {
        margin-left: auto;
        margin-right: auto;
        max-width: 1216px;
    }

}


@media screen and (min-width: 1280px) {
    #header_uspBar > div, #navbar_container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1216px;
    }

    #navbar_subMenuImage_container > a{
        height: 385px;
    }

    #navbar_search_container {
        margin-right: 0;
        transition: margin-right .5s linear;
    }
    
}

/* ---------------------- */


/* SECTION */

.collection-section-container {
    display: flex;
    flex-direction: column;
    margin: 1px 0;
}

.collection-description-container {
    padding: 24px 18px 0;
    background-color: #00da86;
}

.collection-description-container {
    display: flex;
    max-width: 100vw;
}

.collection-description-container > div:nth-child(1) {
    flex-basis: 100%;
    max-width: 100%;
    padding-left: 6px;
    padding-right: 6px;
}

.collection-description-container > div:nth-child(2) {
    flex-basis: 100%;
    max-width: 100%;
    padding-left: 6px;
    padding-right: 6px;
}

.collection-products-container {
    display: flex;
    padding: 24px 0 12px;
    background-color: #36eca6;
}

.product-list {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    width: 100%;
    overflow-x: scroll;
    list-style: none;
    scroll-padding-left: 18px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    transform: translateZ(0);
    margin: 0;
    padding-left: 18px;
    padding-right: 18px;
}

.product-listItem {
    flex-basis: 50%;
    max-width: 50%;
    flex-shrink: 0;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding-left: 6px;
    padding-right: 6px;
}

.product-listItem-img {
    width: 100%;
    object-fit: cover;
}

.add-favoriteButton {
    position: absolute;
    top: 12px;
    right: 0;
    background-color: #ffffff;
}

.add-favoriteButton > button {
    display: flex;
    padding: 8px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
}

.product-info > a {
    text-decoration: none;
    color: #1a1a1a;
    padding-top: 8px;
}

.product-info > a > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.product-infoName, .product-infoReference, .product-infoPrice {
    font-size: .875rem;
    letter-spacing: 0;
    line-height: 1.25rem;
    font-weight: 400;
    color: #1a1a1a;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.product-infoReference {
    font-family: 'Times New Roman', Times, serif;
}

.product-infoPrice{
    font-weight: 700;
}

.product-infoPrice::before{
    content: "desde ";
}

.product-info > a > div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .collection-description-container {
        padding-left: 24px;
        padding-right: 24px;
    }

    .collection-description-container > div:nth-child(1) {
        flex-basis: 50%;
        max-width: 50%;
        margin-top: 36px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .collection-description-container > div:nth-child(1) > h2{
        font-size: 2.25rem;
        letter-spacing: -.32px;
        line-height: 2.5rem;
        font-weight: 600;
        margin: 0;
    }

    .collection-description-container > div:nth-child(1) > h4{
        font-size: 1.75rem;
        letter-spacing: -.32px;
        line-height: 2rem;
        font-weight: 300;
        margin: 0;
    }

    .collection-description-container > div:nth-child(1) > div{
        margin-top: 24px;
    }

    .collection-description-container > div:nth-child(1) > div > a{
        text-decoration: none;
        color: #1a1a1a;
    }

    .collection-description-container > div:nth-child(1) > div > a:hover > span{
        font-weight: 600;
    }

    .collection-description-container > div:nth-child(1) > a > img{
        margin-left: 4px;
    }

    .collection-description-container > div:nth-child(2) {
        flex-basis: 50%;
        max-width: 50%;
        margin-top: 24px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .collection-description-container > div:nth-child(2) > img {
        width: 100%;
        max-height: 333px;
        object-fit: cover;
        object-position: 20% 10%;
    }

    .collection-products-container {
        padding-top: 36px;
    }

    .product-list {
        scroll-padding-left: 24px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .product-listItem {
        flex-basis: 25%;
        max-width: 25%;
        padding-left: 8px;
        padding-right: 8px;
    }

    .product-listItem > div {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
    .collection-description-container {
        padding-left: calc(50% - 608px);
        padding-right: calc(50% - 608px);
    }

    .collection-description-container > div:nth-child(1) {
        flex-basis: 41.66667%;
        max-width: 41.66667%;
    }

    .collection-description-container > div:nth-child(2) {
        flex-basis: 58.33333%;
        max-width: 58.33333%;
    }

    .product-list {
        scroll-padding-left: calc(50% - 608px);
        padding-left: calc(50% - 608px);
        padding-right: calc(50% - 608px);
    }
}

/* ---------------------- */