body {
    margin: 0;
    font-family: HelveticaNow, Helvetica, sans-serif;
}

.z-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* HEADER */

#header_uspBar {
    display: none;
    font-size: 12px;
    line-height: 16px;
    background-color: #efeff0;
}

#header_uspBar > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    height: 32px;
}

#header_uspBar > div > a{
    text-decoration: none;
    color: #66676e;
}

#navbar_container {
    width: auto;
}

#navbar_topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

#navbar_topRow > div:first-child {
    display: none;
    flex-basis: 50%;
}

#logo_image {
    width: 50vw;
    max-width: 300px;
}

.navTools {
    display: flex;
    justify-content: end;
    flex-basis: 50%;
}

.navTools > div {
    margin-left: 2vmin;
}

.navTools > div > a {
    position: relative;
    text-decoration: none;
    color: #1a1a1a;
    display: flex;
    align-items: center;
    padding: 10px;
}

.navTools > div > a > img {
    height: 20px;
    width: 20px;
}

#navbar_bottomRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #d0d1d3;
    border-right: none;
    border-left: none;
    height: 49px;
}

#navbar_button {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    border-right: 1px solid #d0d1d3;
    position: relative;
    height: 100%;
}

#navbar_button > img {
    height: 24px;
    width: 20px;
}

#navbar_category_container {
    display: none;
    will-change: opacity;
    height: 36px;
}

#navbar_category_container > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-categoryLink {
    display: inline-flex;
    cursor: pointer;
    flex-direction: column;
    letter-spacing: 1px;
    padding: 10px 8px;
}

.navbar-categoryLink > a{
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 400;
}


.navbar-categoryLink > a[type="sales"]{
    color: #00da86;
}

#navbar_search_container {
    position: relative;
    height: 100%;
    width: 100%;
}

#navbar_search_container form {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    height: 100%;
}

#navbar_search_container form > button {
    position: absolute;
    margin: 0;
    right: 10px;
}

#navbar_search_container form > button > img {
    height: 20px;
    width: 20px;
}

#navbar_search_container form > div {
    height: 100%;
    width: calc(100% - 50px);
}

#navbar_search_container form > div > input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    background-color: transparent;
    color: #1a1a1a;
    border: 0;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    font-size: 16px;
    outline: none;
}

#navbar_sidePanel_container {
    width: 100%;
    max-width: 100%;
    background-color: #f0f0f0;
    padding: 0;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(-100%, 0, 0);
    transition: transform 195ms cubic-bezier(.4, 0, 1, 1);
}

#navbar_sidePanelHead {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 1px solid #d0d1d3;
}

#navbar_sidePanelHead > span {
    font-weight: 700;
}

#navbar_sidePanelHead > span {
    padding: 8px;
}

#navbar_sidePanelHead > button > img {
    height: 20px;
    width: 20px;
}

#navbar_sidePanelCategoryMenu nav {
    background-color: #ffffff;
    border-bottom: 2px solid #d0d1d3;
    margin-bottom: 16px;
}

#navbar_sidePanelCategoryMenu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar_sidePanelCategoryMenu_element {
    flex-basis: 50%;
    width: 50%;
    box-sizing: border-box;
}

.navbar_sidePanelCategoryMenu_element:nth-child(odd) {
    padding-right: 2px;
}
.navbar_sidePanelCategoryMenu_element:nth-child(even) {
    padding-left: 2px;
}

.navbar_sidePanelCategoryMenu_element > a {
    text-decoration: none;
}

.navbar_sidePanelCategoryMenu_linkImage {
    height: 100px;
}

.navbar_sidePanelCategoryMenu_linkImage > div {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #efeff0;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.navbar_sidePanelCategoryMenu_linkText {
    padding: 4px 4px 16px 14px;
}

.navbar_sidePanelCategoryMenu_linkText > span {
    font-size: 1rem;
    letter-spacing: -0.16px;
    line-height: 1.5rem;
    font-weight: 700;
    color: #1a1a1a;
}

.navbar_sidePanelCategoryMenu_linkText > span[type="sales"] {
    color: #00da86;
}

.navbar_sidePanelCategoryContainer {
    background-color: #ffffff;
    border-bottom: 2px solid #d0d1d3;
    margin-bottom: 16px;
}

.navbar_sidePanelCategoryContainer > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar_sidePanelCategoryContainer > ul > li{
    border-bottom: 1px solid #d0d1d3;
}

.navbar_sidePanelCategoryContainer > ul > li > a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 18px 26px;
    color: #1a1a1a;
}

#navbar_categoryOverlayConatainer {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 488px;
    max-height: 0;
    overflow: hidden;
    background: #ffffff;
    transition: max-height .3s ease-in-out, border-bottom .3s ease-in-out;
    transition-delay: .1s;
    transform: translateZ(0);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

@media screen and (min-width: 768px) {
    
}

@media screen and (max-width: 1023px) {
    #navbar_topRow {
        padding-left: 17px;
    }
}

@media screen and (min-width: 1024px) {
    #header_uspBar {
        display: block;
    }

    #navbar_container {
        margin-left: 24px;
        margin-right: 24px;
    }

    #navbar_topRow {
        padding-top: 15px;
    }

    #navbar_topRow > div:first-child {
        display: block;
    }

    #logo_image {
        width: 300px;
    }

    #navbar_bottomRow {
        border: none;
        justify-content: space-between;
        height: auto;
    }

    #navbar_button {
        display: none;
    }

    #navbar_category_container {
        display: block;
    }

    #navbar_category_container > ul{
        display: block;
        white-space: nowrap;
    }

    #navbar_search_container {
        display: flex;
        right: 0;
        flex: 1 1 25%;
        max-width: calc(25% + 20px);
        height: auto;
        top: 0;
        margin-right: -32px;
    }

    #navbar_search_container > form{
        transition: width .25s ease;
        display: flex;
        height: 36px;
        background-color: #efeff0;
    }

    #navbar_search_container > form > button{
        display: inline;
        top: 8px;
        left: 12px;
        right: auto;
        font-size: 18px;
    }

    #navbar_search{
        padding: 6px 0;
        margin-left: 42px;
    }

    #navbar_categoryOverlayConatainer {
        border-bottom: 1px solid #d0d1d3;
    }

}


@media screen and (min-width: 1280px) {
    #header_uspBar > div, #navbar_container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1216px;
    }
    
}

/* ---------------------- */
